VITE_APP_STORE_ADDRESS="0xf29436aa3e70FbD0f9390E8dfEfE8BAC531e8847"
VITE_SEQUOIA_APP_STORE_ADDRESS="0xf29436aa3e70FbD0f9390E8dfEfE8BAC531e8847"
VITE_IPFS_API_URL="https://apiipfs.sintrop.com"
VITE_DEFAULT_IPFS_API_URL="https://apiipfs.sintrop.com"
VITE_DEFAULT_IPFS_GATEWAY_URL="https://ipfs.sintrop.com"
VITE_DEFAULT_RPC_URL="https://rpc.sintrop.com"
VITE_DEFAULT_SEQUOIA_RPC_URL="https://sequoiarpc.sintrop.com"