VITE_APP_STORE_ADDRESS="0xEB1CdAD12C3Ae4bBB22e07929e4cc1FBCf133e46"
VITE_SEQUOIA_APP_STORE_ADDRESS="0xEB1CdAD12C3Ae4bBB22e07929e4cc1FBCf133e46"
VITE_IPFS_API_URL="https://apiipfs.sintrop.com"
VITE_DEFAULT_IPFS_API_URL="https://apiipfs.sintrop.com"
VITE_DEFAULT_IPFS_GATEWAY_URL="https://ipfs.sintrop.com"
VITE_DEFAULT_RPC_URL="https://rpc.sintrop.com"
VITE_DEFAULT_SEQUOIA_RPC_URL="https://sequoiarpc.sintrop.com"